.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #2b2eff;
  color: #2b2eff;
  background: white;
}

.paginationBtns a:hover {
  background: #2b2eff;
  color: white;
  border: 2px solid #c7c7d1;
  cursor: pointer;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
  border: 2px solid #c7c7d1;
}
